{% load staticfiles %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>

<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow"
      rel="stylesheet"
    />

    <title>Search Page</title>
  </head>

  <body>
    <!-- Global Search -->

    <h1>TECH SCAN CHINA</h1>

    <form class="search-form" action="/search" method="get">
      <div class="search-col">
        <input type="text" placeholder="Enter search query..." name="q" />
        <button type="submit">Search</button>
      </div>
    </form>
    {% render_bundle 'main' %}
  </body>
</html>
