# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# Stuff to ignore

# Python stuff
/__pycache__
*/__pycache__/*
*.pyc
*.pyo

# Data
techscan_project/techscan/es_folder/import-delete/*
techscan_project/techscan/speech_text/data/*

# Django stuff
*.log
*.pot

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

