# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# Stuff to ignore

# Python stuff
/__pycache__
*/__pycache__/*
*.pyc
*.pyo

# Generated Pages
techscan_project/techscan/pages/*.html

# Graph templates
techscan_project/techscan/templates/graph/*
techscan_project/techscan/static/word_cloud/*.png

#Chromedriver
techscan_project/chromedriver.exe

# Django stuff
*.log
*.pot

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Settings
techscan_project/techscan/.vscode/settings.json

