{% load staticfiles %}
<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<title>Facial Recognition</title>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">		
		<div class="row col-12" >
			<a class="navbar-brand" href="/">Tech Scan China</a>
			<form class="search-form col-sm-4 pt-1 px-0" action="/main" method="get" id="srch-term">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search..." name="q">
					<span class="input-group-btn">
						<button class="btn btn-secondary" type="submit">	
							<i class="fa fa-search"></i>
						</span>
					</div>
				</form>
			</div>
		</nav>
		<!-- The sidebar -->
		<div class="sidebar">
			<div class="main-sidebar">
				<a class="main-category" href="/main?q={{search_word}}">Main</a>
				<a class="main-category" href="/overview?q={{search_word}}">Overview</a>
			</div>
			<div class="sub-sidebar">
				<a class="sub-category" href="/weibo?q={{search_word}}">Weibo</a>
				<a class="sub-category" href="/scholar?q={{search_word}}">Scholar</a>
				<a class="sub-category" href="/news?q={{search_word}}">News</a>
				<a class="sub-category" href="/tweets?q={{search_word}}">Tweets</a>
				<a class="sub-category" href="/zhihu?q={{search_word}}">Zhihu</a>
				<a class="active-sub-category" href="/facial_recognition?q={{search_word}}">Facial Recognition</a>
				<a class="sub-category" href="/speech_text?q={{search_word}}">Speech-to-Text</a>
			</div>
		</div>
		<div class="content category-content">
			<h1><b>Facial Recognition</b></h1>
			<div class="card bg-light text-dark">
				<div class="card-body">Light card</div>
			</div>
		</div>
	</body>