{% load staticfiles %}
<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes"> -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<title>Main</title>
</head>

<body>
	<!-- Nav Bar -->
	<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top pt-1 pb-2">
		<a class="navbar-brand" href="/"> 
			Tech Scan <span class="small-logo" id="china">China</span>
		</a>
		<form class="form-inline" action="/main" method="get" id="srch-term">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search..." name="q">
				<span class="input-group-btn">
					<button class="btn btn-secondary" type="submit">	
						<i class="fa fa-search"></i> 
					</button>
				</span>
			</div>
		</form>
	</nav>

	<!-- Container for sidebar and everything else -->
	<div class="container-fluid p-0" style="margin-top: 44px; overflow: auto;">
		<!-- Sidebar -->
		<div class="sidebar">
			<div class="main-sidebar mt-2">
				<a class="active-main-category" href="/main?q={{search_word}}">Overview</a>
				<a class="main-category" href="/details?q={{search_word}}">Details</a>
			</div>
			<div class="sub-sidebar">
				<a class="sub-category" href="/weibo?q={{search_word}}">Weibo</a>
				<a class="sub-category" href="/scholar?q={{search_word}}">Academic</a>
				<a class="sub-category" href="/news?q={{search_word}}">News</a>
				<a class="sub-category" href="/tweets?q={{search_word}}">Tweets</a>
				<a class="sub-category" href="/zhihu?q={{search_word}}">Zhihu</a>
			</div>
		</div>

		<!-- Container for content part1 (summary and wordcloud) -->
		<div class="container-fluid content pl-1 pr-0 mb-2">
			<!-- First row for summary and wordcloud -->
			<div class="d-flex flex-row flex-wrap">
				<!-- Container for summary -->
				<div class="container-fluid col-md pl-1 pr-0">
					<!-- Title for summary -->
					<span class="section-title">
						<h1 class="font-weight-light" style="font-size: 35px">
							{{search_word}} ({{chi_translation}})
						</h1>
					</span>
					<!-- Content for summary -->
					<h5 class="summary_body font-weight-light mt-2 mb-0" align="justify"> {{wiki_result_short}}
						{% if summary_length > 2 %}
						<a data-toggle="collapse" href="#read_more" role="button" aria-expanded="false" aria-controls="read_more">
							Read More
						</a>
					</h5>
					<div class="collapse" id="read_more">
						<h5 class="summary_body font-weight-light m-0" align="justify">
							{{wiki_result_long}}
						</h5>
					</div>
					{% endif %}
				</div>
				<!-- Container for wordcloud -->
				<!-- <div class="container col-md-3 p-0 mt-2">
					<span class="section-title">
						<h3 class="font-weight-light" style="font-size: 25px">
							What's popular
						</h3>
					</span>
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Tech</a>
							<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Companies</a>
							<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">People</a>
						</div>
					</nav>

					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
							<img src="{% static 'word_cloud/tech_wordcloud.png' %}" class="graph-frame" style="width:430px; height:150px"></img>
						</div>
						<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
							<img src="{% static 'word_cloud/company_wordcloud.png' %}" class="graph-frame" style="width:430px; height:150px"></img>
						</div>
						<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
							<img src="{% static 'word_cloud/people_wordcloud.png' %}" class="graph-frame" style="width:430px; height:150px"></img>
						</div>
					</div>
				</div> -->
			</div>
		</div>

		<!-- Second row for top authors and network graph-->
		<div class="row" style="margin-left:153.6px; margin-right: 0; height:370px">
			<!-- Top author table -->
			<!-- <div class="container col-md-5 pl-1">
				<span class="section-title">
					<h3 class="font-weight-light" style="font-size: 25px">
						Top Authors
					</h3>
				</span>
				<table class="table table-hover small mt-2 pt-2" id="author-box">
					<thead>
						<tr>
							<th scope="col" class="font-weight-light">#</th>
							<th scope="col" class="font-weight-light">Author</th>
							<th scope="col" class="font-weight-light">Source</th>
							<th scope="col" class="font-weight-light">Total Favorites</th>
							<th scope="col" class="font-weight-light">Total Retweet</th>
							<th scope="col" class="font-weight-light">Total Upvotes</th>					
							<th scope="col" class="font-weight-light">Post Count</th>
							<th scope="col" class="font-weight-light">Average per post</th>
						</tr>
					</thead>
					<tbody>
						{% for i in author_table %}
						<tr>
							<th scope="row" class="font-weight-light">{{forloop.counter}}</th>
							<td class="font-weight-light"><a href="{{i.url}}"> {{i.author}} </a></td>
							{% if i.source == "Twitter" %}
							<td class="source_twitter font-weight-light"> {{i.source}}</td>	
							{% elif i.source == "Weibo" %}	
							<td class="source_weibo font-weight-light"> {{i.source}}</td>
							{% elif i.source == "Zhihu" %}
							<td class="source_zhihu font-weight-light"> {{i.source}}</td>
							{% endif %}
							<td class="font-weight-light"> {{i.favorite_count}}</td>
							<td class="font-weight-light"> {{i.retweet_count}}</td>
							<td class="font-weight-light"> {{i.upvotes}}</td>
							<td class="font-weight-light"> {{i.size}}</td>
							<td class="font-weight-light"> {{i.average}}</td>		
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div> -->

			<!-- Word cloud Columns -->
			<div class="containter col-md-5 pl-1 pr-0">
				<span class="section-title"><h3 class="font-weight-light" style="font-size: 25px">Popular Entities</h3></span>
				<div class="row">
					<div class="container col-4">
						<u><span class="wordcloud_font">
						<h5 class="font-weight-light">
							Technologies
						</h5></span></u>
						<img src="{% static 'word_cloud/tech_wordcloud.png' %}" class="graph-frame" style="width:240px; height:300px"></img>
					</div>
					<div class="container col-4">
						<u><span class="wordcloud_font">
						<h5 class="font-weight-light">
							Companies
						</h5></span></u>
						<img src="{% static 'word_cloud/company_wordcloud.png' %}" class="graph-frame" style="width:240px; height:300px"></img>
					</div>
					<div class="container col-4">
						<u><span class="wordcloud_font">
						<h5 class="font-weight-light">
							People
						</h5></span></u>
						<img src="{% static 'word_cloud/people_wordcloud.png' %}" class="graph-frame" style="width:240px; height:300px"></img>
					</div>
				</div>
			</div>

			<!-- Network Map -->
			<div class="container col-md m-0">
				<span class="section-title"><h3 class="font-weight-light" style="font-size: 25px">Related Technologies</h3></span>
				<div class="row" style="width: 100%">

					{% if network == "False" %}
					<h3> No Relations Found </h3>
					{% else %}

					<div class="embed-responsive embed-responsive-16by9 col-sm-7 ml-3 mt-0" style="height:300px">
						<iframe src="{% url 'plotneo4jgraph' %}" class="graph-frame" ></iframe> 
					</div>
					<div class="col-4">
						<table class="table table-hover small col-sm-4 mt-1">
							<thead>
								<tr>
									<th scope="col" class="font-weight-light">#</th>
									<th scope="col" class="font-weight-light">Field</th>
									<th scope="col" class="font-weight-light">Weibo</th>
									<th scope="col" class="font-weight-light">Zhihu</th>
									<th scope="col" class="font-weight-light">Academic</th>
									<th scope="col" class="font-weight-light">News</th>
									<th scope="col" class="font-weight-light">Tweets</th>
								</tr>
							</thead>
							<tbody>
								{% for i in related_table %}
								<tr>
									<th scope="row" class="font-weight-light">{{forloop.counter}}</th>
									<td class="font-weight-light"><a href="?q={{i.fieldName}}"> {{i.fieldName}} </a></td>
									<td class="font-weight-light">
										{% if i.weiboPercentile == "True" %}
										<div class = "percentileTrue">
											{% endif %}
											{{i.weiboCount}}
										</div>
									</td>					
									<td class="font-weight-light">
										{% if i.zhihuPercentile == "True" %}
										<div class = "percentileTrue">
											{% endif %}
											{{i.zhihuCount}}
										</div>
									</td>
									<td class="font-weight-light">{{i.scholarCount}}</td>

									<td class="font-weight-light">{{i.newsCount}}</td>
									<td class="font-weight-light">
										{% if i.tweetsPercentile == "True" %}
										<div class = "percentileTrue">
											{% endif %}
											{{i.tweetsCount}}
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

					{% endif %}
				</div>	
			</div>
		</div>

		<!-- Third row for heat map and timeseries graph -->
		<div class="row" style="margin-left:153.6px; margin-right: 0">
			<div class="container col-md p-0 m-1">
				<span class="section-title"><h3 class="font-weight-light" style="font-size: 25px">Time Series Graph</h3></span>
				<h5 class="font-weight-light" style="font-size:18px">Total post across all platforms over time.</h5>
				<div class="embed-responsive embed-responsive-21by9" id="responsive-bar">
					<iframe src="{% url 'plotgraphall' %}" class="graph-frame" ></iframe> 
				</div>
			</div>
			<div class="container col-md p-0 m-1">
				<span class="section-title"><h3 class="font-weight-light" style="font-size: 25px">Heatmap</h3></span>
				<h5 class="font-weight-light" style="font-size:18px"> China news report on {{search_word}}</h5>
				<div class="container p-0 ml-2 col-11">
					<div class="embed-responsive embed-responsive-21by9">
						<iframe src="{% url 'heatmap' %}" class="graph-frame" ></iframe> 
					</div>
				</div>
			</div>
		</div>

	</div>
</body>