{% load staticfiles %}
<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
	<title>Overview</title>
</head>

<body>

	<!-- The navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">		
		<a class="navbar-brand" href="/">Tech Scan China</a>
		<form class="search-form col-sm-4" action="/overview" method="get" id="srch-term">
			<div class="input-group">
			<input type="text" class="form-control" placeholder="Search..." name="q">
			<span class="input-group-btn">
				<button class="btn btn-secondary" type="submit">	
				<i class="fa fa-search"></i></span>
			</div></form>
		<h4 class="px-3 m-1">Search Word: {{search_word}}</h4>
        <h4 class="px-3 m-1">Translation: {{chi_translation}}<h4>
	</nav>

	<!-- The sidebar -->
	<div class="sidebar">
		<div class="main-sidebar">
			<a class="main-category" href="/main?q={{search_word}}">Main</a>
			<a class="active-main-category" href="/overview?q={{search_word}}">Overview</a>
			<a class="main-category" href="/overview2?q={{search_word}}">Overview 2</a><hr>
		</div>
		<div class="sub-sidebar">
			<!-- <a class="sub-category" href="/weibo?q={{search_word}}">Weibo</a>
			<a class="sub-category" href="/scholar?q={{search_word}}">Scholar</a>
			<a class="sub-category" href="/news?q={{search_word}}">News</a>
			<a class="sub-category" href="/tweets?q={{search_word}}">Tweets</a>
			<a class="sub-category" href="/zhihu?q={{search_word}}">Zhihu</a>
			<a class="sub-category" href="/facial_recognition?q={{search_word}}">Facial Recognition</a>
			<a class="sub-category" href="/speech_text?q={{search_word}}">Speech-to-Text</a> -->
		</div>
	</div>

<!-- The content -->
<div class="content">
	<div class="container-fluid">
		<div class="row px-2">

		<!-- Weibo Card -->
		<div class="col-sm-3 p-1">
			<h2 class="text-center">Weibo</h2>
			{% for i in weibo %}
			<div class="card border-dark mb-2">
				<div class="card-body text-dark">
					<h5 class="card-title"><a href="{{i.url}}">@{{ i.user_name }}</a></h5>
					<p class="card-text">{{i.summary}}</p>
					<p class="card-text">Favourite Count: {{ i.favorite_count }}</p>
				</div>
			</div>
			{% endfor %}
		</div>

		<!-- Zhihu Card -->
		<div class="col-sm-2 p-1">
			<h2 class="text-center">Zhihu</h2>
			{% for i in zhihu %}
			<div class="card border-dark mb-2">
				<div class="card-body text-dark">
				<p class="card-title"><a href="{{i.headlineUrl}}">{{ i.headline }}</a></p>
				<p class="card-text">{{i.summary}}</p>
				<p class="card-text">Upvotes: {{i.upvotes}}</p>
				</div>
			</div>
			{% endfor %}
		</div>

		<!-- News Card -->
		<div class="col-sm-2 p-1">
			<h2 class="text-center">News</h2>
			{% for i in news %}
			<div class="card border-dark mb-2">
				<div class="card-body text-dark">
				<p class="card-title"><a href="{{i.url}}">{{ i.title }}</a></p>
				<p class="card-text">{{i.summary}}</p>
				</div>
			</div>
			{% endfor %}
		</div>

		<!-- Scholar Card -->
		<div class="col-sm-3 p-1">
			<h2 class="text-center">Scholar</h2>
			{% for i in scholar %}
			<div class="card border-dark mb-2">
				<div class="card-body text-dark">
				<p class="card-title"><a href="{{i.url}}">{{ i.title }}</a></p>
				<p class="card-text">{{i.summary}}</p>
			</div>
			</div>
			{% endfor %}
		</div>

		<!-- Tweets Card -->
		<div class="col-sm-2 p-1">
			<h2 class="text-center">Tweets</h2>
			{% for i in tweets %}
			{% if i.sentiment == "Positive" %}
			<div class="card border-success mb-2 tweeter-border">
				<div class="card-body text-success">
				<p class="card-title"><a href="{{i.url}}">@{{ i.user_name }}</a></p>
				<p class="card-text">{{i.summary}}</p>
				</div>
			</div>
			{% elif i.sentiment == "Negative" %}

			<div class="card border-danger mb-2 tweeter-border">
				<div class="card-body text-danger">
				<p class="card-title"><a href="{{i.url}}">@{{ i.user_name }}</a></p>
				<p class="card-text">{{i.summary}}</p>
				</div>
			</div>
			{%else%}
			<div class="card border-dark mb-2 tweeter-border">
				<div class="card-body text-dark">
				<p class="card-title"><a href="{{i.url}}">@{{ i.user_name }}</a></p>
				<p class="card-text">{{i.summary}}</p>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		</div>
	</div>
	
</div>
</body>