#main-heading{
  font-size: 66px;
  color: #556777;
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.05em;
  margin: 40vh 0 1vh;
}

#china {
  color: #dc3545;
  letter-spacing: -4px;
  font-family: Franklin Gothic;
  text-transform: uppercase;
  background: -webkit-linear-gradient(13deg, #ef7534, #dc3545);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 5px;
}

#china.small-logo {
  letter-spacing: -1px;
}

.navbar-brand{
  font-size: 1.5rem !important;
  color: #556777 !important;
  white-space: nowrap;
  font-family: "Franklin Gothic" !important;
  letter-spacing: -2px;
}

.percentileTrue{
  color: #50c732
}
.percentileFalse{
  color: #ec1313
}

h1,h2,h3,h4,h5,td,p,th{
	color: #556777;
  font-family: 'Roboto', sans-serif; 
}

.section-title > h1 {
  font-weight: lighter;
  font-family: 'Segoe UI', sans-serif !important;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 3rem;
}

.section-title > h3 {
  font-weight: normal;
  font-family: 'Segoe UI', sans-serif !important;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 2.5rem;
  border-bottom: 3px #8080802b solid;
}

.



.form-control:hover,active,focus {
  outline: none !important;
  box-shadow:none !important;
  border:solid #556777 !important;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    outline: none !important;
    box-shadow:none !important;
    border:solid #556777 !important;
    -webkit-box-shadow: 0 0 0 30px #f8f9fa inset !important;
}

.percentiletrue{
  color: #3dc713;
}

.source_twitter{
  color: #6aa79c;
}

.source_weibo{
  color: #f69c63;
}

.source_zhihu{
  color: #55769a;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #333 !important;
  padding: 2px 19px;
  font-family: "Franklin Gothic", sans-serif;
  font-size: 26px;
}

.sub-sidebar {
    padding-left: 0;
    border-left: 3px rgba(227, 82, 74, 0.3) solid;
    margin-left: 19px;
    margin-top: 10px;
}

/* Sidebar Main Tabs */
.sidebar a.active-main-category {
  background-image: -webkit-linear-gradient(50deg, #222, #555);
  color: white !important;  
  font-family: "Franklin Gothic", sans-serif; 
}

.sidebar a.active-main-category:hover, .sidebar a.main-category:hover {
  background-image: -webkit-linear-gradient(50deg, #444, #777);
  color: white !important;  
  font-family: "Franklin Gothic", sans-serif; 
}

/* Sidebar Sub Tabs */
.sidebar a.sub-category{ 
  color: #888 !important;
}

.sidebar a.active-sub-category {
  background-image: -webkit-linear-gradient(50deg, #dc3545cc, #f07833cc);
  color: white !important;
}

.sidebar a.active-sub-category:hover, .sidebar a.sub-category:hover {
  background-image: -webkit-linear-gradient(50deg, #dc354594, #f07833ab);
  color: white !important;
}

.tweeter-border {
  border: 3px solid black !important;
}

hr {
  border: 1px solid #0c5460 !important;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  /*height: 1000px;*/
  /*padding: 5px 15px;*/
}

div.category-content{
  padding: 5px 15px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.sub-card-title{
  color: #556777;
  font-family: 'Roboto', sans-serif; 
  font-size: 22px
}

.sub-card-body{
  color: #556777;
  font-family: 'Roboto', sans-serif; 
  font-size: 16px
}

.sub-card-others{
  color: #556777;
  font-family: 'Roboto', sans-serif; 
  font-size: 14px
}

a {
  position: relative;
  color: #556777 !important;
  text-decoration: none;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #17a2b8;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;

}

a:hover {
  color: #17a2b8 !important;
  text-decoration: none !important;
}

a:hover:before{
  visibility: visible;
  -webkit-transform:scaleX(1);
  transform: scaleX(1);
}

.sidebar a.active-main-category,
.sidebar a.main-category,
.sidebar a.active-sub-category,
.sidebar a.sub-category,
.sidebar a.active-main-category:hover,
.sidebar a.main-category:hover,
.sidebar a.active-sub-category:hover,
.sidebar a.sub-category:hover, {
  text-decoration: none !important;
}

.sidebar a.active-main-category:hover,
.sidebar a.main-category:hover,
.sidebar a.active-sub-category:hover,
.sidebar a.sub-category:hover {
  color: white !important;
}

.table td, .table th {
    padding: .3rem !important;
    font-size: 1.2em !important;
}